<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scorestatistics.demo.mapper.FractionMapper">

    <select id="countByLog" parameterType="cn.scorestatistics.demo.model.entity.TbFractionLog" resultType="java.lang.Long">
        select count(*) from tb_fraction_log;
    </select>
    <select id="selectByMulti" parameterType="string" resultType="TbFractionLog">
        select * from tb_fraction_log
        where
        (id like #{search} or name like #{search} or username like #{search} or nickname like #{search} or
         inclass like #{search} or fraction like #{search} or user like #{search} or
         ip like #{search} or ip_info like #{search} or time like #{search} or
         create_date like #{search})
<!--        and-->
<!--        inclass IN-->
<!--        <foreach collection="managerClass" index="index" item="item" separator="," open="(" close=")">-->
<!--            #{item}-->
<!--        </foreach>-->
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="TbFractionLog">
        select * from tb_log where id = #{id}
    </select>
    <insert id="insert">
        insert into tb_fraction_log(id, name, username, nickname,
            inclass, fraction, user,
            ip, ip_info, time,
            create_date)
        values(#{tbFractionLog.id}, #{tbFractionLog.name}, #{tbFractionLog.username}, #{tbFractionLog.nickname},
            #{tbFractionLog.inclass}, #{tbFractionLog.fraction}, #{tbFractionLog.user},
            #{tbFractionLog.ip}, #{tbFractionLog.ip_info}, #{tbFractionLog.time},
            #{tbFractionLog.create_date})
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_fraction_log
        where id = #{id}
    </delete>

</mapper>